.vscode/
*.DS_Store
ECS/DotNetCore/AppDynamics-DotNetCore-linux-x64-20.9.0
*.zip
*.zip
*appdynamics-cluster-agent-rhel-linux-20.9.0.1662
local.*
KubernetesExtensions/WithDependencies/apigee-monitoring-extension-3.2